*{
    padding: 0;
    margin: 0;
}
marquee{
    font-size: 25px;
}
.dhaka-p{
    font-size: 20px;
    padding: 10px;
}
.fontsize{
    font-size: 20px;
}
.advice{
    font-size: 15px;
}
article{
    background-color: thistle;
}
.body{
    background-color: turquoise;
}